/* CSS reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
/* CSS REseteo */
/* Sintaxis less*/
/* Sintaxis less*/
.contenido {
  max-width: 800px;
  margin: 20px auto;
}
.contenido .dilema {
  background-color: #DDDDDD;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  display: block;
}
.contenido img {
  max-width: 100%;
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px auto;
}
.contenido p {
  margin: 10px;
  padding: 10px;
}
header {
  background-color: #222831;
  color: #76ABAE;
  padding: 20px;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #EEEEEE;
  color: #222831;
  padding: 20px;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}
